<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Shopping List App</title>
</head>
<body>
    <section id="shopping-list" class="section">
        <div class="container">
            <div class="app">
                <div class="header">
                    <h1 class="header__title">{{header}}</h1>
                    <button v-if="editing" @click="doEdit(false)" type="button" class="button button_background-color_red">cancel</button>
                    <button v-else @click="doEdit(true)" type="button" class="button">add item</button>
                </div>
                <div class="app__input">
                    <div v-if="editing" class="input__wrapper">
                        <input class="input" @keyup.enter="saveItem" v-model="newItem" class="app__input" type="text" placeholder="Enter">
                        <p class="input__count">{{characterCount}}/200</p>
                    </div>
                    <button
                            v-if="editing"
                            @click="saveItem"
                            :disabled="newItem.length === 0"
                            type="button"
                            class="button button_background-color_green"
                    >
                        save item
                    </button>
                </div>
                <ul class="app__list">
                    <li v-for="item in reversedItems"
                        :class="[
                            item.purchased ? 'strikeout' : '',
                            'app__item'
                        ]"
                        @click="togglePurchased(item)">
                        {{item.label}}
                    </li>
                </ul>
                <p v-if="items.length === 0">Shopping List is empty</p>
                <button v-else @click="clearItems" class="button button_background-color_gray">Clear List</button>
            </div>
            </div>
        </div>

    </section>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const consoleShop = Vue.createApp({
            data() {
                return {
                    editing: false,
                    header: 'Shopping List',
                    newItem: '',
                    items: [
                        {
                            label: '10 party hats',
                            purchased: false,
                        },
                        {
                            label: '2 board games',
                            purchased: true,
                        },
                        {
                            label: '20 cups',
                            purchased: false,
                        }
                    ]
                }
            },
            methods: {
                saveItem() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    });
                    this.newItem = '';
                },
                doEdit(editing) {
                    this.editing = editing;
                    this.newItem = '';
                },
                togglePurchased(item) {
                    item.purchased = !item.purchased;
                },
                clearItems() {
                    this.items.splice(0);
                }
            },
            computed: {
                characterCount() {
                    return this.newItem.length;
                },
                reversedItems() {
                    return [...this.items].reverse();
                }
            }
        })

        .mount('#shopping-list')
    </script>
</body>
</html>
